<% 
let height = ''
//If index is undefined, only one article is shown
if (index == undefined) {
  height = '600'
//If index is not undefined, all article is shown
} else {
  height = "60"+index
}
%> 

<div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="https://source.unsplash.com/random/800x <%= height  %> " alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://source.unsplash.com/random/800x <%= height  %>" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%- article.title.rendered %> </p>
        </div>
      </div>
  
      <div class="content">


          <% let articleContent = article.excerpt.rendered
             let summary = articleContent.slice(0,150)
          %> 
        <%- index==undefined ? article.content.rendered : summary %>

        <% if (index!==undefined) { %>
          <a href="/blog/<%=article.id%>"> <br> Read more...</a>
        <% } %>
      </div>
    </div>
  </div>